@media screen and (min-width:480px)

	header
		#titulo_nav
			width 70%

@media screen and (min-width:640px)
	
	header
		#titulo_nav
			width 76%

	#contenido
		.item
			display inline-block
			vertical-align top
			width 45%

@media screen and (min-width:1024px)
	header
		#titulo_nav
			width 85%

@media screen and (min-width:1280px)
	
	#contenido
		.item
			width 30%